@model IEnumerable<Awwsp.Models.Child>

@*@{
        ViewBag.Title = "AcceptApplication";
        var grid = new WebGrid(canPage: true, rowsPerPage: 10);
        grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
    }

    <div class="container">
        <h2>Lista zawodników do przyjęcia</h2>
        <div>

        </div>
        <div>
            @grid.Table(
           tableStyle: "table table-responsive table-bordered",
            columns: grid.Columns(
                grid.Column(columnName: "FirsName", header: "Imię "),
                grid.Column(columnName: "LastName", header: "Nazwisko ")
                )
            )

            <div class="row">
                <div class="col-sm-6">
                  @*  @grid.PagerList(mode:WebGridPagerModes.All,paginationStyle:"pagination pagination-small pagination-right")
            </div>
        </div>
    </div>
</div>
*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildLastName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChildFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChildLastName)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.IsActive)
                </td>
            </tr>
        }

    </table>

    <button type="submit" class="float-right mt-2 ">Zatwierdź</button>
}
