@model IEnumerable<Awwsp.Models.Child>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgeGroup.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AgeGroup.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChildID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChildID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChildID })
        </td>
    </tr>
}

</table>
