@model IEnumerable<Awwsp.Models.News>

@{
    ViewBag.Title = "Index";
}

     <section class="jumbotron text-center">
            <div class="container">
                <h1>Aktualności</h1>
                <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis erat ut efficitur bibendum. In tristique mi quis vehicula condimentum. Pellentesque sed ligula diam. In velit tellus, pretium nec ligula in, sagittis mollis ex. Integer aliquet sodales erat, placerat laoreet dui tristique eget. </p>
                @if (User.IsInRole("Admin") || User.IsInRole("HeadCoach"))
                {@Html.ActionLink("Dodaj newsa", "Create", null, new { @class = "btn btn-dark m-2" })}
            </div>
        </section>
        <div class="py-5 bg-light">
            <div class="container">
                <div class="card-columns">

                    @foreach (var item in Model)
                    {

                        <div class="card shadow ">
                            @{
                                if (item.Photo != null)
                                {
                                    var base64 = Convert.ToBase64String(item.Photo.Image);
                                    var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
                                    <div class=" view overlay">
                                        <img onclick="setID()" src="@imgSrc" class="card-img-top" style="height: 225px; width: 100%; display: block; object-fit:cover" />
                                        <a href="/News/Details/@item.NewsID">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class=" view overlay">
                                        <img onclick="setID()" src="~/Content/Images/notfound.png" class="card-img-top" style="height: 225px; width: 100%; display: block; object-fit:cover" />
                                        <a href="/News/Details/@item.NewsID">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                }
                            }
                            <div class="card-body">
                                <p class="card-title h4">@item.Title</p>
                                <p class="card-text">@item.Text</p>
                            </div>

                            <div class="card-footer d-flex justify-content-center">
                                <div class="btn-group ">
                                    @if (User.IsInRole("Admin") || User.IsInRole("HeadCoach"))
                                    {
                                        @Html.ActionLink("Edit", "Edit", new { id = item.NewsID }, new { @class = "btn btn-sm btn-outline-dark mr-1" })
                                    }



                                    @if (User.IsInRole("Admin") || User.IsInRole("HeadCoach"))
                                    {
                                        @Html.ActionLink("Delete", "Delete", new { id = item.NewsID }, new { @class = "btn btn-sm btn-outline-danger ml-1", })
                                    }
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>

