@model IEnumerable<Awwsp.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/ImageView.css" rel="stylesheet">


<section class="jumbotron text-center ">
    <div class="container">
        <h1>Gallery</h1>
        <p class="lead text-muted">This is photo gallery with photos from our trainings </p>
        @if (User.IsInRole("Admin") || User.IsInRole("HeadCoach") || User.IsInRole("Coach"))
        {
            @Html.ActionLink("Add new photo", "Create", null, new { @class = "btn btn-dark m-2" })
        }
   
    </div>
</section>

<div class="py-5 bg-white ">
    <div class="container ">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 pb-1">
                    <div class="card mb-4 box-shadow">
                        @{
                            if (item.Image != null)
                            {
                                var base64 = Convert.ToBase64String(item.Image);
                                var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
                                <div class="view overlay">
                                    <img onclick="setID()" src="@imgSrc" class="card-img-top" style="height: 225px; width: 100%; display: block; object-fit:cover" />
                                    <a href="/Photo/Details/@item.PhotoID">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="card-header view overlay">
                                    <img onclick="setID()" src="~/Content/Images/notfound.png" class="card-img-top" style="height: 225px; width: 100%; display: block; object-fit:cover" />
                                    <a href="/Photo/Details/@item.PhotoID">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                            }
                        }
                        <div class="card-body">
                            <p class="card-text">@item.Name</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @if (User.IsInRole("Admin") || User.IsInRole("HeadCoach") || User.IsInRole("Coach"))
                                    {
                                        @Html.ActionLink("Edit", "Edit", new { id = item.PhotoID }, new { @class = "btn btn-sm btn-dark mr-1" })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.PhotoID }, new { @class = "btn btn-sm btn-danger ml-1" })
                                    }
                                </div>
                            </div>
                            <small class="text-muted">@item.Date</small>
                        </div>

                    </div>
                </div>
                            }
        </div>

    </div>
</div>
