@model Awwsp.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layouts/_LayoutCoach.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
       
        </dt>

        <dd>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

<head>
    <link rel="stylesheet" href="~/Content/Login.css" />
</head>

<div class="d-flex min-vh-100 flex-column container-fluid">
    <div class="row flex-fill fill d-flex justify-content-start">
        <!-- I want this row height to filled the remaining height -->

        <div class="col bg-coach portlet-container portlet-dropzone bg-transparent p-0">
            <!-- if row is not the right to stretch the remaining height, this column also fine -->
            <div class="view flex-center">
                <div class="container-fluid full-bg-image d-flex align-items-center justify-content-center mask flex-center rgba-black-strong ">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12 text-center">

                            <p class="white-text">@ViewBag.NoConfirm @Html.ValidationSummary()</p>



                            @using (Html.BeginForm("Delete", "Coach", FormMethod.Post, new { @class = "text-center border rgba-white-light border-light p-5", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4 class="h4 mb-4 white-text">Registration</h4>

                                <div class="form-row ">
                                    <div class="col">
                                        @Html.DisplayFor(model => model.FirstName)

                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(model => model.LastName)


                                    </div>
                                </div>

            @Html.DisplayFor(model => model.Email)
                               

                               
                                @Html.ValidationSummary()
                               

                                <button type="submit" class="btn btn-block btn-dark">Delete</button>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>