@model Awwsp.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layouts/_LayoutCoach.cshtml";
}


<head>
    <link rel="stylesheet" href="~/Content/Login.css" />
</head>

<div class="d-flex min-vh-100 flex-column container-fluid">
    <div class="row flex-fill fill d-flex justify-content-start">
        <!-- I want this row height to filled the remaining height -->

        <div class="col bg-coach portlet-container portlet-dropzone bg-transparent p-0">
            <!-- if row is not the right to stretch the remaining height, this column also fine -->
            <div class="view flex-center">
                <div class="container-fluid full-bg-image d-flex align-items-center justify-content-center mask flex-center rgba-black-strong ">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12 text-center">

                       

                            @using (Html.BeginForm("Delete", "Coach", FormMethod.Post, new { @class = "text-center border rgba-white-light border-light p-5", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4 class="h4 mb-4 white-text">Are you sure to delete thic account ?</h4>

                                <div class="form-row ">
                                    <div class="col white-text">
                                        @Html.DisplayFor(model => model.FirstName)

                                    </div>
                                    <div class="col white-text">
                                        @Html.DisplayFor(model => model.LastName)


                                    </div>
                                </div>
                                <p class="white-text">
                                    @Html.DisplayFor(model => model.Email)
                                </p>

<div class="white-text">
                                @Html.ValidationSummary()
</div>

                                <button type="submit" class="btn btn-block btn-danger">Delete</button>
                                @Html.ActionLink("Back to list", "AllCoach", null, new { @class = "btn btn-block btn-success" })

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>