
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @* MDB Bootstrap *@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" type="text/css">
    <link rel="stylesheet" href="~/Content/MDB-Free_4.11.0/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/MDB-Free_4.11.0/css/mdb.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/MDB-Free_4.11.0/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/Content/MDB-Free_4.11.0/css/addons/datatables.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <base href="https://localhost:44304/" />
</head>

<body >

    <div >

        <!-- Navbar -->
        @{Html.RenderPartial("_NavIndex"); }
        <!-- /.navbar -->


        <!-- Content Wrapper. Contains page content -->
        <div >

            <!-- Main content -->
            <div class="content p-0 ">

                @RenderBody()



            </div>
            <!-- /.content -->
        </div>

        <!-- Main Footer -->
        <footer class="main-footer ml-0">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">

            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2018-@DateTime.Now.Year Adrian Piaścik AWWSP .</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/MDB-Free_4.11.0/js/addons/datatables.min.js"></script>

</body>
</html>

